/*------------- #TESTIMONIALS --------------*/

.rait-stars {
    transition: all .3s ease;
    padding-left: 0;

    .star-icon {
        font-size: 9px;
    }

    li {
        display: inline-block;
        color: #d1d8de;

        & + li {
            margin-left: 2px;
        }

        &.numerical-rating {
            margin-left: 10px;
            font-weight: 700;
            font-size: 12px;
            color: $heading-color;
        }
    }
}

.crumina-testimonial-item {
    text-align: center;
    overflow: hidden;

    .author-thumb {
        height: 98px;
        width: 98px;
        margin: 0 auto 15px;

        img {
            border: 4px solid $white-color;
            max-width: 100%;
        }
    }

    .rait-stars {
        margin-bottom: 40px;

        .star-icon {
            font-size: 11px;
            color: #ffce08;
        }
    }

    .author-content {
        margin-top: auto;
        margin-bottom: 15px;

        .author-name {
            margin-bottom: 0;
        }
    }

    .testimonial-message {
        margin-bottom: 70px;
    }
}

.testimonial-header-thumb {
    height: 90px;
    overflow: hidden;
    background-image: url("../images/testimonial-header.png");
    background-size: cover;
    position: relative;

    .testimonial-header-thumb-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .95;
    }
}

.testimonial-item-content {
    margin-top: -49px;
    padding: 0 30px 30px;
    display: flex;
    flex-direction: column;

    &.no-avatar {
        margin-top: 25px;
    }
}


/*================= Responsive Mode ============*/

@media (max-width: 1200px) {
    .crumina-testimonial-item .testimonial-message {
        margin-bottom: 30px;
    }

    .crumina-testimonial-item .rait-stars {
        margin-bottom: 20px;
    }
}