

.logy-social-buttons ul {
  padding-left: 0;
  list-style: none;
}

.logy-social-buttons ul > li {
  margin-bottom: 10px;
}

.logy-social-buttons ul > li > a {
  display: flex;
  color: #fff;
}

.logy-submit-item .logy-item-inner button[type="submit"] {
  padding: 0;
}